<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido {{ usuario }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Card del Juego 1 -->
  <ion-card id="juego1">
    <ion-card-header>
      <ion-card-title>Juego 1</ion-card-title>
      <ion-card-subtitle>Juego inflable 1</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Mostrar la imagen del Juego 1 -->
      <ion-img [src]="imagenJuego1 || 'assets/imagenes/juego1.jpg'" alt="Juego 1"></ion-img>
    </ion-card-content>
  </ion-card>

  <!-- Card del Juego 2 -->
  <ion-card id="juego2">
    <ion-card-header>
      <ion-card-title>Juego 2</ion-card-title>
      <ion-card-subtitle>Juego inflable 2</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Mostrar la imagen del Juego 2 -->
      <ion-img [src]="imagenJuego2 || 'assets/imagenes/juego2.jpg'" alt="Juego 2"></ion-img>
    </ion-card-content>
  </ion-card>

  <!-- Botones adicionales -->
  <ion-content>
    <ion-button color="success" (click)="IrAVentas()">Ir a ventas</ion-button>
    <ion-button color="primary" (click)="irAEjecucion()">Ingresar</ion-button>
    <ion-button color="success" (click)="modificarTiempoYValorPorTicket()">Modificar</ion-button>
  </ion-content>
</ion-content>