<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input label="Ingrese nombre de Usuario" label-placement="floating" fill="outline" placeholder="Ingrese Usuario"  required
    #usuarioInput></ion-input>
<br>
<ion-button (click)="IrMain(usuarioInput)">Ingresar</ion-button>


  </div>
</ion-content>
